<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Select dinamico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='usercss.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <header>

    </header>
    <nav id="menu">

    </nav>
    <section class="seccion">
        <div class="cabecera">
            <h2><a href="">Registro de Usuario</a></h1>
        </div>
        <form id="form" class="form" action="/" method="POST" onchange="return validar()">
            <div class="registro">
                <label for="nombre">Nombre:</label>
                <input type="text" placeholder="Nombre" id="nombre" name="nombre" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="Apellidos">Apellidos:</label>
                <input type="text" placeholder="Apellidos" id="apellidos" name="apellidos" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div>
                <label for="tdocumento">Tipo de documento:</label>
                <select name="tdocumento" id="tdocumento" class="form-control">
                    <option value="0">Seleccione...</option>
                    {% for doc in documento %}
                    <option value="{{ doc.0 }}">{{ doc.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="registro">
                <label for="documento">Documento:</label>
                <input type="text" placeholder="documento" id="documento" name="documento" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div>
                <label for="nacimiento">Lugar de nacimiento:</label>
                <select name="nacimiento" id="nacimiento" class="form-control">
                    <option value="0">Seleccione...</option>
                    {% for ciud in ciudades %}
                    <option value="{{ ciud.0 }}">{{ ciud.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="registro">
                <label for="fnacimiento">Fecha nacimiento:</label>
                <input type="date" placeholder="Fecha nacimiento" id="fnacimiento" name="fnacimiento" onchange="return calcularEdad()" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="Edad">Edad:</label>
                <input type="text" placeholder="Edad" id="Edad" name="edad" readonly/>
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="Usuario">Usuario:</label>
                <input type="text" placeholder="Usuario" id="Usuario" name="Usuario" onchange="return validarUsuario()" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="email">Email:</label>
                <input type="email" placeholder="Email" id="email" name="email" onchange="return validarEmail()" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="telefono">Telefono:</label>
                <input type="telefono" placeholder="telefono" id="telefono" name="telefono" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="ccPassword">ccPassword:</label>
                <input type="password" placeholder="ccPassword" id="ccPassword" name="ccPassword" onchange="return ingresoContraseña()" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div class="registro">
                <label for="VerificacionPassword">Verificacion ccPassword:</label>
                <input type="password" placeholder="VerificacionPassword" id="verificacionPassword" name="verificacionPassword" onchange="return validarContraseña()" />
                <small id="error" class="registroinvalido">El campo es requerido</small>
            </div>
            <div>
                <label for="residencia">Lugar de residencia:</label>
                <select name="residencia" id="residencia" class="form-control">
                    <option value="0">Seleccione...</option>
                    {% for ciud in ciudades %}
                    <option value="{{ ciud.0 }}">{{ ciud.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <aside id="columna">

    </aside>
    <footer id="pie">

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='userJavaScript.js') }}" type="text/JavaScript"></script>
</body>

</html>