<style>
    button {
        padding-left: 10px;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Lista de compras</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>N. Documento</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>N. Documento</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Accion</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let u of usuarios">
                            <th>{{u.id}}</th>
                            <th>{{u.name}}</th>
                            <th>{{u.apellido}}</th>
                            <th>{{u.cedula}}</th>
                            <th>{{u.direccion}}</th>
                            <th>{{u.correo}}</th>
                            <th>
                                <button (click)="Editar(usuario)" class="btn btn-info">Editar</button>
                                <button (click)="Eliminar(usuario)" class="btn btn-danger">Eliminar</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>